@import "./base/base";
header
	position fixed
	top 0
	width 20rem
	height 3rem
	background-color rgb(36, 36, 36)
	.icon
		position absolute
		top .2rem
		&.back
			left @top
		&.option
			right @top
	h1
		margin-left 1rem
		margin-right 1rem
		overflow hidden
		text-align center
		white-space nowrap
		text-overflow ellipsis
		color white
		font-size 1.2rem
		line-height 3rem
.loading
	position fixed
	top 3rem
	width 0
	border-bottom .2rem solid rgb(0, 128, 64)
	transition width .25s
	&.step1
		width 5rem
	&.step2
		width 10rem
	&.step3
		width 15rem
	&.step4
		width 20rem
		border-width 0
		transition border-width 2s
body
	padding-top 2rem
	font-size 1rem
.banner
	position fixed
	top 3rem
	width 20rem
	height 10rem
	overflow hidden
	a
		position absolute
		display block
		left @width
		width @width
		height @height
		background-repeat no-repeat
		background-size 100% 100%
		&.previous
			animation previous .5s forwards
		&.current
			animation current .5s forwards
		&.init
			animation init .25s forwards
		&.ltr
			animation ltr .25s forwards
		&.rtl
			animation rtl .25s forwards
	.indicator
		position absolute
		bottom .5rem
		left 50%
		transform translateX(-50%)
		z-index 1
		em
			margin-right .4rem
			padding .04rem .36rem
			background-color rgb(0, 128, 255)
			color white
			font-size .6rem
			&.current
				background-color rgb(255, 128, 0)
@keyframes previous
	from
		left 0
	to
		left -20rem
@keyframes current
	from
		left 20rem
	to
		left 0
@keyframes init
	to
		left 0
@keyframes rtl
	to
		left -20rem
@keyframes ltr
	to
		left 20rem