<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=320" />
		<link rel="stylesheet" href="./css/random.css" />
		<title>点名系统V0.0.2</title>
	</head>
	<body>
		<div class="random">
			<div class="page welcome">
				<div class="title">点名系统</div>
				<a class="btn btn-bg start">开始</a>
				<a class="btn btn-bg setting">设置</a>
				<a class="btn btn-bg exit">退出</a>
				<div class="dialog setting hidden">
					<h1>设置</h1>
					<div>
						<input class="ipt-txt sum" type="text" placeholder="总人数" value="50" />
					</div>
					<div>
						<input class="ipt-txt history" type="text" placeholder="历史记录" />
					</div>
					<a class="btn btn-bd sure">确定</a>
				</div>
			</div>
			<div class="page game hidden">
				<div class="page loader hidden">
					<div class="number"></div>
					<div class="progress">
						<div class="inner"></div>
					</div>
				</div>
				<div class="controller">
					<div class="btn btn-bg start">开始</div>
					<input type="text" class="ipt-txt congrat" />
					<div class="btn btn-bg congrat">恭喜</div>
					<input type="text" class="ipt-txt regret" />
					<div class="btn btn-bg regret">遗憾</div>
				</div>
			</div>
		</div>
		<script src="./js/random.js"></script>
	</body>
</html>